
 /* page.module.css */
 .container {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
 }

 .description {
   margin-left: 20px;
   text-align: left;
 }

.col {
   background-color: rgba(128,128,128,0.7);
 }
 .icon {
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}


.container_grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
   grid-gap: 20px;

   padding: 20px;
   border: 4px solid gray;

   background-color: rgb(230, 229, 229);
}

.char_container {
   text-align: center;
   background-color: rgb(179, 179, 179);

   border: 3px solid rgb(167, 167, 167);

   text-decoration: underline;
   font-size: 1.2em;
   font-weight: 900;
}